<html>
<head> <b>Avaliador - Avaliar Termo de Aluno<b> </head>
<body>
<table>
	{% for row in aprovacoes %}  
	  <tr>   
			<td><a href="/termo/edit/{{row.id}}/">{{row.id}}</a></td>
			<td>{{row.aluno}}</td>
			<td>{{row.empresa}}</td>
			<td>{{row.aprovado}}</td>
			<td>{{row.data_inicio}}</td>  
			<td>{{row.data_fim}}</td>  
			<td>{{row.valor_bolsa}}</td> 
			<td>{{row.funcao}}</td>  
	  </tr>  
	{% endfor %}
    <tr>
        <td><b> <a href="/logout/"><b>Sair do Sistema</b></td>
        <td><b> <a href="/sistemaestagios/"><b>Retornar ao menu principal.</b></td>
    </tr>
</table>

</body>
</html>