<html>
<head> <b>Bem vindo ao Sistema de Estagios Nao Curriculares </head>
<body>
<table>
	  <tr>
            <td><b> <a href="/logout/"><b>Sair do Sistema</b></td>
      </tr>
	  <tr>
            <td><a href="/termo/create/"><b>Aluno - criar TCE/PA<b></a></td>
      </tr>
      <tr>  
            <td><a href="/termo/list/"><b>Avaliador - listar termos</b></a></td>
	  </tr>
      <tr>
            <td><a href="/empresa/cadastro/"><b>Empresa - fazer cadastro<b></a></td>
      </tr>
      <tr>
            <td><a href="/admin/"><b><i>Admin - area restrita<i><b></a></td>
      </tr>
</table>
</body>
</html>